nav[class="navbar navbar-expand"] div{
    display: flex;
    justify-content: flex-end;
    gap: 25px; 
    color: black;
    padding: 10px;
}

nav[class="navbar navbar-expand"] ul{
    display: flex;
    justify-content: flex-end;
    gap: 7px;   
    color: black; 
}
nav[class="navbar navbar-expand"] a[class="navbar-brand"]{
    margin: 7px;    
    color: black;
}
.navbar{
    background-color: #4682A9;
    color: black;
}
div[class="bg"]{
    background-color: #F6F4EB;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
div[class="bg"] h2{
    font-family: 'Dancing Script', cursive;   
    display: flex;
    font-size: 135px;
}

span{
    font-size: 75px;
}

div [class="row"]{
    justify-content: center;
    gap: 50px;
}

div[class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"] ul{
    gap: 15px;
}

div[class="container px-4 py-5"] h2{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    text-align: center;
}

.container-image {
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

div[class="container px-4 py-5"]{
    background-color: #F6F4EB;
}

section[class="py-5 text-center container"]{
    background-color: #4682A9;
}

div[class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"]{
    background-color: #ffffff;
}

div[class="row"]{
    background-color: #ffffff;
}

div[class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"]{
    background-color: #ffffff;
}
body{
    background-color: #ffffff;
}